#CONNECTION_STRING=Server=(localdb)\\MSSQLLocalDB;Database=AgendaCampoNovo;Trusted_Connection=True;TrustServerCertificate=True
#JWT_KEY=euafhadnifuahdsbhfusbdhfsabfhsdfsidafsadfdsa

#CONNECTION_STRING=Server=localhost,1433;Database=AgendaCampoNovo;User Id=sa;Password=Developer123@;Encrypt=True;TrustServerCertificate=True;
# http://localhost:5100/swagger/index.html
# Scaffold-DbContext "Server=(localdb)\MSSQLLocalDB;Database=AgendaCampoAtual;Trusted_Connection=True;TrustServerCertificate=True" Microsoft.EntityFrameworkCore.SqlServer -OutputDir Domains -ContextDir Contexts -UseDatabaseNames -NoPluralize -F
# Scaffold-DbContext "Server=localhost,1433;Database=AgendaCampoAtual;User Id=sa;Password=Developer123@;Encrypt=True;TrustServerCertificate=True" Microsoft.EntityFrameworkCore.SqlServer -OutputDir Domains -ContextDir Contexts -UseDatabaseNames -NoPluralize -F


